@page
@model ClassesModel
@{
    ViewData["Title"] = "Players";
}

<!-- Step 9: Create form with bootstrap style HTML -->
<h3>Professors</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <!-- label and asp-for tags are for Extra Credit Step 10 -->
                <!-- asp-for connects the drop down to our BindProperty variable in Page Model -->
                <!-- select tag and asp-items attribute fill in the selectlist drop down. Required for step 9 -->
                <label asp-for="WoWClass.WoWClassID"></label>
                <select asp-for="WoWClass.WoWClassID" asp-items="Model.ClassDropDown" class="form-control">
                    <option value="">-- Select Class --</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr />

@if (Model.WoWClass != null)
{
    <p>You selected @Model.WoWClass.className @Model.WoWClass.classSpec</p>
}